<div class="well">
	<div class="page-header">
		<h1>Bucket List</h1>
	</div>

	<p>A bucket list of things to accomplish in life.</p>

	<table class="table table-bordered table-striped">
		<tr>
			<td><strong> <!--&nbps;--></strong></td>
			<td><strong>.</strong></td>
		</tr>
		<tr class="warning">
			<td>11/26/2013</td>

			<td>11/26/2013</td>
		</tr>
		<tr>
			<td>Travel </td>
			<td>Visit Germany and see the sites of it</td>
		</tr>
		<tr>
			<td>Learn</td>
			<td>Learn German and be able to speak/write/read it fluently </td>
		</tr>
		<tr>
			<td>Travel</td>
			<td>Visit Australia and have a beer with Doug</td>
		</tr>
		<tr>
			<td>jeu </td>
			<td> </td>
		</tr>
		
		<tr>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
		</tr>

	</table>
</div>